/* CSS Document */
/* steam colors via https://colorswall.com/palette/193/ */

*, *::after, *::before {
  box-sizing:border-box;  
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  /* background source https://store.cloudflare.steamstatic.com/public/images/v6/colored_body_top2.png?v=2 */
  background: url("../images/bgimage.png") center top no-repeat #1b2838;
  color: #c7d5e0;
  margin: auto;
  max-width: 1080px;
}

a:hover {
  background-color: red;
}

div button:focus {
  border: dotted yellow;
}

li button:hover {
  background-color: red;
}

li button:focus {
  border: dotted yellow;
}

ul:focus {
  border: dotted yellow;
}

ul li button:focus {
  border: dotted yellow;
}

li button:active {
  background-color: blue;
}

section:nth-of-type(2) div a:hover {
  border: solid white;
}

header {
  margin: auto;
  max-width: 1080px;
  width: 100%;
  background-color: #171a21;
  position: fixed;
  z-index: 10;
}

nav a:hover {
  background-color: transparent;
}

nav a:focus {
  border: dotted yellow;
}

header nav {
  padding: 0.8em;
  display: flex;
  flex-wrap: wrap;
}

header nav a img {
  width: 156.633px;
  margin: 0;
}

header div {
  display: flex;
  flex-direction: row;
  background-image: url("../images/steamlogo.png");
  background-size: 156.633px;
  background-repeat: no-repeat;
  background-position: center top;
}

nav {
  flex-direction: column;
}

input {
  margin-top: 20px; 
  height: 28px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 .3em 0 #000000;
  background-color:#66b7d3;
}

#hamburger {
  margin-top: -4px;
  margin-left: -4.5px;
  width: 35.6px;
  height: 30.6px;
  opacity: 75%;
  background-color: #171a21;
  background-image: url("../images/steammenu.png");
  background-size: cover;
  border: none;
}

#hamburger:hover {
  opacity: 100%;
}

#hamburger:focus {
  border: dotted yellow;
}

nav a {
  width: 300px;
  height: 40px;
}

input::placeholder {
  font-family: serif;
  font-style: italic;
  color: #0e1c25;
}

input:hover {
  border: solid white;
}

input:focus {
  border: dotted yellow;
}

#search {
  margin-top: 20px;
  position: absolute;
  right: 14px;
  top: 53px;
  width: 28px;
  height: 28px;
  opacity: 75%;
  border: none;
  /* https://steamstore-a.akamaihd.net/public/images/v6/search_icon_btn.png */
  background: url("../images/search.png") no-repeat;
  background-size: 28px;
}

#search:hover {
  opacity: 100%;
}

#search:focus {
  border: dotted yellow;
}

main {
  padding-top: 122px;
  overflow: hidden;
}

a {
  color: #66c0f4;
}

img {
  width: 345.6px;
  margin: auto;
}

h2:nth-of-type(1) {
  margin: 19.2px 10px 4.8px 10px;
}

h2 {
  font-size: 0.875em;
  color: #FFFFFF;
  font-weight: normal; 
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 16px 0 12.8px 8px;
}

li {
  list-style-type: none;
}

.uitgelicht h2 {
  font-size: 0.875em;
  color: #FFFFFF;
  font-weight: normal; 
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 16px 0 12.8px 8px;
}

.uitgelicht a img {
  margin-left: 5px;
  padding: 2px;
  width: 360.2px;
}

.uitgelicht a img:last-of-type {
  margin-right: 5px;
}

.uitgelicht ul {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.uitgelicht a:focus {
  border: dotted yellow;
}

.gameinfo {
  margin-top: -10px;
  padding-top: 20px;
  padding-bottom: 10px;
  /* https://steamcdn-a.akamaihd.net/steam/apps/945360/page_bg_generated_v6b.jpg?t=1598556351 */
  background-image: url("../images/gamebg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.gameinfo div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.gameinfo h2 {
  margin: 5px 130px 0 10px;
  font-size: 14px;
  text-transform: capitalize;
}

.gameinfo div button {
  margin-right: 10px;
  font-size: 0.9em;
  color: #66b7d3;
  border: none;
  background-image: url("../images/bg1.jpg"); 
  background-position-y: -5.5em;
  opacity: 75%;
  width: 130px;
  height: 35px;
  border-radius: 2px;
  text-align: center;
}

.gameinfo div button:hover {
  opacity: 100%;
}

.gameinfo div button:focus {
  border: dotted yellow;
}

.gameinfo div img {
  display: flex;
  justify-content: center;
  width: 95%;
}

.gameinfo div:nth-of-type(2) {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
}

.gameinfo div p {
  font-size: 0.8125em;
  color: #c6d4df;
  font-weight: normal; 
  margin-left: 12.8px;
  z-index: 1;
}

.gameinfo table {
  /* https://stackoverflow.com/questions/17868503/on-css-if-text-line-is-break-show-dots */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gameinfo table td:first-of-type {
  padding-left: 12.8px;
  color: #556772;
  font-size: 0.625em;
  text-transform: uppercase;
}

.gameinfo table span {
  color: #8f98a0;
  font-size: 0.625em;
}

.gameinfo table tr:nth-of-type(3) td:first-of-type{
  padding: 10px 0 10px 12.8px;
  color: #556772;
  font-size: 0.75em;
}

.gameinfo table tr:nth-of-type(3) td:last-of-type{
  padding: 10px 0 10px 6px;
  color: #8f98a0;
  font-size: 0.75em;
}

.gameinfo p:last-of-type {
  margin-bottom: 1px;
  color: #556772;
  font-size: 0.75em;
}

.gameinfo a {
  margin-left: 8px;
  color: #67c1f5;
  text-decoration: none;
  font-size: 0.75em;
}

.gameinfo ul {
  display: flex;
  margin-left: 5px;
}

.gameinfo ul li:first-of-type a {
  margin-left: 8px;
}

.gameinfo ul li:last-of-type a {
  margin-left: 2px;
}

.gameinfo ul li a {
  margin-left: 1px;
  padding: 3px 8px;
  background-color: #2a4962; 
  border-radius: 2px;
}

.gameinfo a:focus {
  border: dotted yellow;
}

section:nth-of-type(2) {
  position: relative;
}

section:nth-of-type(2) h2 {
  font-size: 0.875em;
  margin-left: 15px;
}

section:nth-of-type(2) a {
  position: absolute;
  padding: 3.2px 16px;
  right: 16px;
  font-size: 0.75em;
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.1em solid rgba(255,255,255,0.4);
  border-radius: 4.8px;
}

section:nth-of-type(2) a:focus {
  border: dotted yellow;
}

#aanbiedingen {
  width: 97.5%;
  overflow-x: scroll;
}

.sale {
  margin-top: 40px;
  margin-left: 16px;
}

.sale h2 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 0 16px 27.2px;
  padding-top: 8px;
}

.sale img {
  width: 306px;
  height: 350px;
  margin-bottom: 0;
}

.saletekst {
  background: url("../images/bg1.jpg");
}

.saletekst {
  width: 306px;
  height: 113.6px;
}

.saletekst div {
  display: flex;
  margin-top: -15px;
}

.procent {
  margin-top: 24px;
  margin-left: 12px;
  padding: 1.6px .8px 1.6px 10px;
  width: 72.8px;
  height: 34px;
  font-size: 1.5em;
  color: #a4d007;
  background-color: #4c6b22;
}

.saletekst div div {
  margin-top: 24px;
  padding-top: 3.2px;
  height: 34px;;
  width: 56.4px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.6) !important;
}

.saletekst div div p:first-of-type {
  width: 56.4px;
  color: #7193a6;
  text-decoration: line-through;
}

.saletekst div div p {
  margin-left: .8em;
  font-size: 0.75em !important;
}

section:nth-of-type(2) h3, p {
  color: #FFFFFF;
}


section:nth-of-type(2) ul {
  display: flex;
  justify-content: space-between;
}

.carouselbuttonleft {
  margin: 1em 0 0 .5em;
  background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
  width: 5em;
  height: 2em;
  z-index: 3;
  position: relative;
}

.carouselbuttonleft button{
  position: absolute;
  left: .7em;
  top: .2em;
  width: 1.7em;
  height: 1.7em;
  border: none;
  background-color: transparent;
  background-image: url("../images/carouselarrowleft.svg");
  background-size: 2em 2em;
  background-position: center top;
  z-index: 0;
}

.carouselbuttonleft:hover {
  background: linear-gradient( to left, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
  cursor: pointer;
}

.carouselbuttonright {
  margin: 1em .5em 0 0;
  background: linear-gradient( to left, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
  width: 5em;
  height: 2em;
  z-index: 3;
  position: relative;
}

.carouselbuttonright button{
  width: 1.7em;
  height: 1.7em;
  position: absolute;
  top: .2em;
  right: .7em;
  border: none;
  background-color: transparent;
  background-image: url("../images/carouselarrowright.svg");
  background-size: 2em 2em;
  background-position: center top;
  z-index: 0;
}

.carouselbuttonright:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
  cursor: pointer;
}

#screenshots {
  width: 100%;
  background-color: #080e13;
  margin-bottom: 0;
}

#screenshots img {
  width: 100%;
  margin: 5px 5px 0 5px;
}

#screenshots ul {
  display: flex;
}

#screenshots ul:first-of-type {
  overflow-x: scroll;
}

#screenshots ul img {
  width: 115px;
  margin: 3px 1px 3px 1px;
}

#screenshots p {
  margin: 10px 0;
  padding: 15px 20px 15px 15px;
  font-size: 0.75em;
  color: #b0d4ac;
  background-color: #16202d;
}

#specs {
  width: 95%;
  margin: 8px 8px 5px 8px;
  padding: 10px 0 10px 10px;
  background-color: #16202d;
}

#specs p {
  margin-bottom: 8px;
  color: #556772;
  font-size: 0.75em;
  text-transform: uppercase;
}

#specs li {
  display: flex;
  align-items: center;
  width: 95%;
  margin-bottom: 2px;
  background-color:#1a2b39;
  color: #7193a6;
  font-size: 0.75em;
}

#specs img {
  width: 32px;
  margin: 0 5px 0 0;
  padding: 5px;
  background-color: #121a24;
}

#links {
  width: 95%;
  margin: 10px 8px;
  padding: 10px 0 10px 13px;
  background-color: #16202d;
}

#links li {
  display: flex;
  align-items: center;
  width: 95%;
  margin-bottom: 2px;
  padding: 5px 15px 5px 10px;
  background-color:#1e3141;
  color: #7193a6;
  font-size: 0.75em;
}

#links li a {
  text-decoration: none;
}

#links li a:focus {
  border: dotted yellow;
}

.deelknoppen {
  width: 95%;
  margin: 10px 8px 5px 8px;
  padding: 10px 0;
  display: flex;
  background-color: #16202d;
}

.deelknoppen li:first-of-type button {
  margin: 3px 4px 3px 12px;
  padding: 8px 16px;
  font-size: 0.9em;
  color: #67c1f5;
  opacity: 75%;
  border: none;
  background-color: #264155;
  border-radius: 2px;
  text-align: center;
}

.deelknoppen li:first-of-type button:hover {
  opacity: 100%;
}

.deelknoppen li:first-of-type button:focus {
  border: dotted yellow;
}

.deelknoppen li button {
  margin-top: 3px;
  margin-right: 4px;
  padding: 8px 18px;
  font-size: 0.9em;
  color: #67c1f5;
  opacity: 75%;
  border: none;
  background-color: #264155;
  border-radius: 2px;
  text-align: center;
}

.deelknoppen li button:hover {
  opacity: 100%;
}

.deelknoppen li:last-of-type button {
  height: 32.8px;
  width: 50px;
  background-image: url("../images/flag.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#relevantie {
  width: 95%;
  margin: 10px 8px 5px 8px;
  padding: 10px 0;
  background-color: #16202d;
}

#relevantie h3 {
  font-size: 1em;
  color: #FFFFFF;
  margin-left: 10px;
}

#relevantie p {
  margin-left: 10px;
  margin-top: 24px;
  line-height: 22px;
  font-size: 0.875em;
  color: #acb2b8;
}

#relevantie div {
  display: flex;
  margin-top: 10px;
}

#relevantie div button {
  margin: 11px 4px 3px 12px;
  padding: 8px 16px;
  font-size: 0.9em;
  color: #67c1f5;
  opacity: 75%;
  border: none;
  background-color: #264155;
  border-radius: 2px;
  text-align: center;
}

#relevantie button:hover {
  opacity: 100%;
}

#relevantie button:focus {
  border: dotted yellow;
}

#relevantie div p {
  margin: 15px -8px 0px 0px;
}

#talen {
  position: relative;
  width: 95%;
  margin: 10px 8px 5px 8px;
  padding: 10px 0;
  background-color: #16202d;
}

#talen h4 {
  margin-left: 10px;
  color: #8f98a0;
  font-weight: normal;
  font-size: 0.75em;
}

#talen table {
  margin-left: 10px;
}

#talen table th {
  padding-right: 15px;
  color: #556772;
  font-weight: normal;
  font-size: 0.75em;
}


#talen table tr:after {
  position: absolute;
  left: 10px;
  margin-top: 17px;
  display: block;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #556772;
}

#talen table td {
  white-space: nowrap;
  overflow: hidden;
  color: #8f98a0;
  font-weight: normal;
  font-size: 0.75em;
}

#talen table tr:nth-of-type(2) td {
  white-space: nowrap;
  overflow: hidden;
  color: #556772;
  font-weight: normal;
  font-size: 0.75em;
}

#talen table td:nth-of-type(2) {
  padding-left: 16px;
  color: #67c1f5;
  font-weight: bold;
  font-size: 0.75em;
}

#talen p {
  position: absolute;
  top: 43px;
  left: 180px;
  color: #556772;
  font-weight: normal;
  font-size: 0.75em;
}

#kopen {
  position: relative;
  width: 95%;
  margin: 10px 8px 5px 8px;
  padding: 14px 14px 28px 14px;
  background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
  border-radius: 5px;
}

#kopen h2 {
  margin: 2px 0 0 3px;
  text-transform: none;
  font-size: 1.25em;
}

#kopen div {
  display: flex;
}

#kopen div:nth-of-type(2) {
  position: absolute;
  bottom: -18px;
  right: 18px;
  padding: 4px 3px 4px 10px;
  background-color: #000000;
  border-radius: 2px;
}

#kopen div:nth-of-type(2) a:focus {
  background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
}

#kopen div p {
  margin-top: 8px;
  margin-right: 10px;
  font-size: 13px;
}

#kopen div a {
  padding: 8px 12px;
  font-size: 0.8125em;
  text-decoration: none;
  color: #d2efa9;
  background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  border-radius: 2px;
}

#kopen div a:hover {
  background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
}

#kopen img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.carouselslider {
  justify-content: space-between;
  width: 90%;
  height: 18.75px;
  margin: 0 5%;
  background-color: #0a1016;
}

.carouselbutton2left {
  width: 34px;
  height: 25px;
  margin-left: -10px;
}

.carouselbutton2left button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75%;
  margin: auto 5px;
  border: none;
  border-radius: 10%;
  background-color: #162431;
  /* https://steamstore-a.akamaihd.net/public/images//v6/icon_cluster_controls.png */
  background-image: url("../images/carouselarrows2left.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.carouselbutton2right {
  width: 34px;
  height: 25px;
  margin-right: -5px;
}

.carouselbutton2right button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75%;
  border: none;
  border-radius: 10%;
  background-color: #162431;
  /* https://steamstore-a.akamaihd.net/public/images//v6/icon_cluster_controls.png */
  background-image: url("../images/carouselarrows2right.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider button {
  display: flex;
  justify-content: flex-start;
  width: 70px;
  height: 18.75px;
  background-color: #162431;
  border: none;
  border-radius: 2px;
}

#valveindex {
  display: block;
  overflow: hidden;
  margin: 2.8em 0;
}

#valveindex img {
  height: 100%;
  max-height: 77px;
  width: 200%;
  border-style: solid none;
  border-color: #1b2838;
  box-shadow: 0 0 .3em 0 #000000;
}

#valveindex:hover {
  opacity: 75%;
}

#valveindex:focus {
  border: dotted yellow;
}

.steamdoorzoeken h2 {
  font-size: 0.875em;
  color: #FFFFFF;
  font-weight: normal; 
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1em 0 .8em .5em;
}

.steamdoorzoeken ul {
  width: 100%;
  display: grid;
  grid-gap: .7em .5em;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 1.3em 0 .8em;
}

.steamdoorzoeken li {
  background-image: url("../images/bg1.jpg"); 
  background-position-y: -88px;
  box-shadow: 0 0 4px #000000;
  width: 102%;
  border-radius: .2em;
  text-align: center;
  }

.steamdoorzoeken ul li a {
  font-size: 1.125em;
  line-height: 56px;
  font-weight: 300;
  color: #66b7d3;
  text-decoration: none;
}

.steamdoorzoeken a:focus {
  border: dotted yellow;
}

.gamenav {
  margin-top: 2em;
  overflow-x: scroll;
  max-height: 28px;
  height: 28px;
}

.gamenav ul {
  display: flex;
  list-style: none;
  max-width: 120%;
  width: 120%;
  padding: 0 15px;
  font-size: 0.875em;
  height: 100%;
  align-items: center;
}

.gamenav:focus {
  border: dotted yellow;
}

.gamenav ul li a {
  font-size: 0.875em;
  text-decoration: none;
  color: #4f94bc;
  background: transparent;
  padding: .5em;
  border-radius: .4em .4em 0 0;
}

.gamenav ul li:first-of-type a {
  color: white;
  max-width: 35.2%;
  width: 35.2%;
  background-color: #2a475e;
  padding: .5em;
  border-radius: .4em .4em 0 0;
}

.gamelijst {
  background-color: #2a475e;
}

.gamelijst ul li div h3 {
  font-weight: normal;
}

.gamelijst li {
  background-color: #1f3446;
}

.gamelijst ul li div {
  display: flex;
  margin-bottom: 5px;
}

.gamelijst ul li div:hover{
  background-color: #a9cee3;
}

.gamelijst ul li div:hover h3 {
  color: #10161b;
}

.gamelijst ul li div:hover p:last-of-type {
  color: #263645;
}

.gamelijst ul li div:hover span {
  color: #7193a6;
}

.gamelijst ul li div div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 0;
  padding: 5px 0 5px 5px;
}

.gamelijst ul li div div:nth-of-type(1) p {
  width: 98%;
  color: #384959;
}

.gamelijst ul li div div:nth-of-type(2) {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 0.875em;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.gamelijst ul li div div:nth-of-type(2) p {
  margin-right: 10px;
}

.gamelijst ul li div div:nth-of-type(2) span {
  text-decoration: line-through;
}

.korting {
  margin-left: 12px;
  font-size: 0.875em;
  color: #a4d007;
  background-color: #4c6b22;
}


.gamelijst div div:first-of-type p {
  width: 100px;
  margin-bottom: 5px;
  font-size: 0.6875em;
}

.gamelijst span {
  font-size: 0.875em;
}

.gamelijst ul li img {
  width: 30%;
  height: 20%;
  margin: 8px;
}

.gamelijst h3 {
  font-size: 1.125em;
  margin-bottom: 2px;
}


.about {
  position: relative;
  margin: 44px 10px 0 10px;
  overflow: hidden;
  height: 764px;
}

.about > h3:after {
  display: block;
  content: "";
  height: .5px;
  width: 100%;
  background: linear-gradient( to left, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 1) 95%);
}

.about p {
  margin-top: 20px;
  font-size: 0.875em;
  line-height: 21px;
  color: #75a5b8;
}

.about li {
  margin-left: 12px;
  margin-top: 10px;
  font-size: 0.875em;
  line-height: 21px;
  list-style-type: square;
  color: #acb2b8;
}

.about img:not(:first-of-type) {
  margin-top: 20px;
}

.about:after {
  position: absolute;
  bottom: -88px;
  left: 0;
  right: 0;
  content: "";
  box-shadow: 0 -5px 45px 20px #000;
  width: 100%;
  height: 1px;
  background-color: #2d5169;
}

#expandinfo {
  margin-left: 73%;
  border: none;
  color: #537ca6;
  opacity: 75%;
  text-transform: uppercase;
  font-size: 0.625em;
  background-color: transparent;
}

#expandinfo:hover {
  opacity: 100%;
}

#expandinfo:focus {
  border: dotted yellow;
}

#eisen {
  margin-top: 30px;
  margin-left: 14px;
}

#eisen h3 {
  position: relative;
  font-size: 0.875em;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#eisen h3:after {
  position: absolute;
  top: 16px;
  left: -2px;
  content: "";
  width: 98%;
  height: 1px;
  background-color: #2d5169;
}

#eisen p:first-of-type {
  margin-top: 12px;
  color: #bcc6cd;
  font-size: 10px;
  text-transform: uppercase;
}

#eisen p:not(:first-of-type) {
  margin-top: 8px;
  color: #61686D;
  font-size: 0.75em;
}

#eisen p span {
  color: #bcc6cd;
}

.suggestions {
  margin-top: 50px;
}

.suggestions div {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.suggestions div h2 {
  margin-top: 0;
}

.suggestions div a {
  height: 16px;
  text-decoration: none;
  margin-right: 8px;
  padding: 1px 5px;
  font-size: 0.6875em;
  background-color: #2a475d;
  opacity: 75%;
}

.suggestions a:hover {
  opacity: 100%;
}

.suggestions a:focus {
  border: dotted yellow;
}

.suggestions h2:after {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  content: "";
  height: .5px;
  width: 230%;
  background: linear-gradient( to left, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 1) 95%);
}

.suggestions ul:first-of-type{
  display: flex;
  overflow-x: scroll;
  margin-bottom: 5px;
  width: 100%;
}

.suggestions ul:first-of-type li {
  margin-left: 10px;
  padding: 16px 16px 6px 16px;
  background-color: #16202d;
}

.suggestions ul:first-of-type li:not(:first-of-type) {
  margin-left: 1px;
}

.suggestions ul li h4 {
  font-weight: normal;
  font-size: 0.875em;
  color: #8f98a0;
}

.suggestions ul li p {
  font-size: 0.6875em;
}

.suggestions ul img {
  width: 171px;
  max-width: 171px;
}

.suggestions ul:last-of-type {
  display: flex;
  justify-content: space-between;
}

.newgamelive {
  margin-top: 10px;
  margin-left: 15px;
  width: 173px;
  background: linear-gradient(to right, #2d485d, #36607c);
}

.newgame {
  margin-top: 10px;
  margin-left: 15px;
  width: 173px;
  background: linear-gradient(to right, #2d485d, #36607c);
}

.newgamelive img {
  width: 100%;
}

.newgame img {
  width: 100%;
}

.newgamelive p:first-of-type {
  display: flex;
  position: absolute; 
  padding: 3px 8px 3px 3px;
  margin: 3px 0 0 3px;
  text-transform: uppercase;
  font-size: 0.75em;
  background-color: black;
}

.newgamelive p:first-of-type:before {
  margin: auto 5px;
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #af5453;
}

.newgamelive p:last-of-type { 
  margin: 4px 3px 5px 0;
  padding: 0 3px 6px 3px;
  text-align: end;
  font-size: 0.6875em;
}

.newgame p {  
  margin: 4px 3px 5px 0;
  padding: 0 3px 6px 3px;
  text-align: end;
  font-size: 0.6875em;

}

.newgame span:first-of-type {
  margin-right: -3px;
  color: #a4d007;
  background-color: #4c6b22;
}

.newgame span:nth-of-type(2) {
  margin-right: -3px;
  text-decoration: line-through;
  color: #7193a6;
}

.newgame span {
  padding: 3px;
}

.newgame span:nth-of-type(2), span:nth-of-type(3){
  background-color: rgba(0,0,0,0.6)
}

footer {
  height: 170px;
  background-color: #000000;
}

footer h2 {
  padding: 10px 0 15px 0;
  text-transform: none;
  font-size: 0.9375em;
  color: #67c1f5;
  text-align: center;
}

footer p {
  margin: 10px auto 20px auto;
  width: 310.2px;
  font-size: 0.9375em;
  color: #8f98a0;
  line-height: 24px;
  text-align: center;
}

footer a {
  margin-left: calc(50% - 91.4px/2);
  padding: 8px 15px;
  text-decoration: none;
  background: linear-gradient( to bottom, #799905 5%, #536904 95%);
  border-radius: 2px;
  text-align: center;
  color: #d2e885;
}

footer a:hover {
  margin-left: calc(50% - 91.4px/2);
  padding: 8px 15px;
  text-decoration: none;
  background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
  border-radius: 2px;
  text-align: center;
  color: #d2e885;
}

footer a:focus {
  border: dotted yellow;
}

@media (min-width: 420px) {

  section:last-of-type ul {
    display: flex;
    flex-wrap: wrap;
  }

  .gameinfo div:nth-of-type(2) {
    display: grid;
    grid-template-rows: 1fr 3fr ;
    grid-template-columns: 50% 50%;
  }

  .gameinfo div img {
    grid-row-start: 1;
    grid-row-end: 4;
    width: 90%;
  }

  .gameinfo div:nth-of-type(2) p:first-of-type  {
    font-size: 0.875em;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }

  .gameinfo div:nth-of-type(2) p:last-of-type  {
    font-size: 0.75em;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gameinfo div:nth-of-type(2) ul {
    width: 200%;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .gameinfo div:nth-of-type(2) table {
    grid-row-start: 4;
  }

  .suggestions ul:first-of-type {
    flex-wrap: nowrap;
  }

  .carouselslider {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width:550px) {

  section h2 {
    font-size: 1.125em !important;
  }

  .gameinfo h2 {
    margin: 5px 290px 0 10px;
  }

  .gameinfo p, table tr td:first-of-type, .gameinfo table tr td a, .gameinfo table tr td span{
    font-size: 0.625em;
  }

  .gameinfo table {
    grid-column-start: 2;
    grid-row-start: 3 !important;
  }

  #talen p {
    left: 200px;
  }

  #valveindex img {
    width: 150%;
  }

  .about img {
    width: 500px;
  }

  .steamdoorzoeken ul {
    grid-gap: 15px 10px;
  }
}

@media (min-width:660px) {

  section h2 {
    font-size: 1.3125em !important;
  }

  .gameinfo h2 {
    margin: 5px 310px 0 10px;
  }

  .gameinfo p {
    font-size: 1.125em;
  }

  .gameinfo table tr td:first-of-type, .gameinfo table tr td a, .gameinfo table tr td span{
    font-size: 0.75em;
  } 

  .about img {
    width: 630px;
  }

  .steamdoorzoeken ul {
    grid-gap: 20px 15px;
  }

  #valveindex img {
    width: 100%;
  }

  section:last-of-type ul {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .newgamelive {
    width: 368px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}